.up-c
{
    text-align: center;
}
.taskLinks:hover
{
    color: red;
    font-size: 20px;
    text-decoration: none;
    font-style: italic;
}
body
{
    height: auto;
}

nav
{
    opacity: 0.9;
}

nav:hover
{
    opacity: 1;
}

small
{
    font-weight: bold;
}

label
{
    font-weight: bold;
}

.a-NoStyle:hover
{
    text-decoration: none;
    color: goldenrod;
}

.txt-grow
{
    font-size: 30px!important;
}

.successLog
{
    font-style: italic;
}

.well
{
    border-right: cornflowerblue 30px solid;
}

.logInfos
{
    
    font-family: 'Caveat', cursive;
    font-size: 25px !important;
    text-align: justify;
}

.card-body
{
    cursor: pointer;
}

.logStrong
{
    color: goldenrod;
    font-weight: bold;
    font-style: italic;
}

.nav-link
{
    font-family: 'Cinzel', serif;
    font-size: 16px;
}

.nav-link:hover
{
    font-family: 'Cinzel', serif;
    font-size: 18px;
    text-shadow: 0 0 1em antiquewhite, 0 0 0.2em antiquewhite;
}

.navbar-light .navbar-nav .nav-link {

    color: lightgray;

}


#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    left: 3%; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: cornflowerblue; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    height: 50px;
    width: 50px;
    border-radius: 25px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    background-image: url('http://localhost:8000/css/White_arrow_up.png');
    background-position: center;
    background-repeat :  no-repeat;
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

.box-set
{
    border-style: inset;
    border-width: 4px;
    border-color: antiquewhite;
    width: 230px;
    padding: 15px;
    height: auto;
    position: fixed;
    background: cornflowerblue;
    box-shadow: 10px 5px 5px lightgrey;
    cursor: pointer;
}

.box-txt
{
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 19px;
    text-align: justify;
    
}

.btn:hover
{
    box-shadow: 10px 5px 5px lightgrey;
}

.countReport
{
    text-shadow: 0 0 1em red, 0 0 0.2em red;
    margin-top: 30px;
    margin-bottom: 40px;
}

.taskElts
{
    list-style-type: upper-roman;
    list-style-position: inside;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

.w-fix
{
    width: 70%;
    margin: auto;
}

.w-b-fix
{
    position: relative;
    left: 40%;
    margin-bottom: 50px;
}

.card-header
{
    color: white;
    font-size: large;
    font-family: cursive;
    background: cornflowerblue;
}

.logInfos
{
    font-size: large;
}

.card
{
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;  
}

#wrapInfo
{
    margin-top: 15%; 
}

#wrapContent
{
    width: 80%;
    margin-left: 10%;
    margin-top: 15%;
    
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Libre Caslon Text', serif;
}


#inputEmail, #inputPassword
{
    width: 35%;
    margin: auto;
    margin-bottom: 15px;
}


#Preport
{
    text-align: center;
    font-weight: 600;
    font-style: italic;
    text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.2em red;
}


#report
{
    color: red;
}

#logBtn
{
    width: 20%;
    margin: auto;
}

#formCheckbox
{
    width: 9%;
    margin: auto;
    margin-top: 15px;
    
}

#logh1
{
    text-align: center;
}


#wrapContent2
{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 50px;
    
}

#listContainer
{
    width: 50%;
    margin: auto;
}

#taskList
{
    color: darkcyan;
    margin-bottom: 40px;
    position: relative;
    left: -30px;
}


.taskElts
{
    margin-left: 10%;
    margin-top: 15px;
    margin-bottom: 15px;
}


/** SOME GLOBAL CSS **/

.align-c
{
    text-align: center;
    margin-bottom: 40px;
}

.g-link
{
    color: goldenrod;
    font-size: 18px;
}

.g-link:hover
{
    color: cornflowerblue;
    font-weight: bold;
    font-size: 19px;
    font-style: italic;
    text-decoration: none;
    text-shadow: 0 0 1em lightgrey, 0 0 0.2em lightgrey;
    position: relative;
    left: 20px;
}

hr
{
    margin-top: 30px;
    margin-bottom: 30px;
}