.up-c
{
    text-align: center;
}

.card-header
{
    color: white;
    font-size: large;
    font-family: cursive;
    background: cornflowerblue;
}

.logInfos
{
    font-size: large;
}

.card
{
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;  
}

#wrapInfo
{
    margin-top: 15%; 
}

#wrapContent
{
    width: 80%;
    margin-left: 10%;
    margin-top: 15%;
    
}


#inputEmail, #inputPassword
{
    width: 35%;
    margin: auto;
    margin-bottom: 15px;
}


#Preport
{
    text-align: center;
    font-weight: 600;
    font-style: italic;
}


#report
{
    color: red;
}

#logBtn
{
    width: 20%;
    margin: auto;
}

#formCheckbox
{
    width: 9%;
    margin: auto;
    margin-top: 15px;
    
}

#logh1
{
    text-align: center;
}


#wrapContent2
{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    
}

#listContainer
{
    width: 50%;
    margin: auto;
}

#taskList
{
    color: darkcyan;
    position: relative;
    left: -30px;
}


.taskElts
{
    margin-left: 10%;
    margin-top: 15px;
    margin-bottom: 15px;
}


/** SOME GLOBAL CSS **/

.align-c
{
    text-align: center;
}

.g-link
{
    color: goldenrod;
    font-size: 18px;
}

.g-link:hover
{
    color: goldenrod;
    font-size: 19px;
    font-style: italic;
    text-decoration: none;
}

hr
{
    margin-top: 30px;
    margin-bottom: 30px;
}