<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': appareilStatus === 'On',
                'list-group-item-danger': appareilStatus === 'Off'}">
    
    
    <!-- Exemple de condition dans une balise -->
    <div style="width: 20px; height: 20px; background-color: red; margin: 10px;" *ngIf="appareilStatus === 'Off'"></div>
    
    <!-- Exemple de string interpolation -->
    <h4 [ngStyle]="{color: getColor()}" >  Appareil : {{ appareilName }} <br><br> Status : {{ getStatus() }}</h4>
    
    <!-- Exemple de two-way binding -->
    <input type="text" class="form-control"  [(ngModel)]="appareilName">


    <button class="btn btn-sm btn-success"
    *ngIf="appareilStatus === 'Off'"
    (click)="onSwitch()">On</button>

    <button class="btn btn-sm btn-danger"
    *ngIf="appareilStatus === 'On'"
    (click)="onSwitch()">Off</button>



</li>